@model SchoolProject1640.Models.Article

@{
    ViewData["Title"] = "Create";
    var contriId = ViewBag.ContributionId;
}

<h1>Create</h1>

<h4>Article</h4>
<hr />
@if (ViewBag.MessErro != null && ViewBag.MessErro != "")
{
    <div class="alert alert-danger">
        @ViewBag.MessErro
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input id="fileInput" type="file" name="files" multiple accept=".pdf" />
            <div>
                <input id="idContri" name="idContri" value="@contriId" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    document.getElementById("createForm").addEventListener("submit", function (event) {
        var fileInput = document.getElementById("fileInput");
        if (fileInput.files.length === 0) {
            event.preventDefault(); // Prevent form submission
            alert("Please select a file before submitting.");
        }
    });
</script>
@* <script>
    function validateForm() {
        var fileInput = document.querySelector('input[type="file"]');
        var files = fileInput.files;

        // Check if at least one file is selected
        if (files.length === 0) 
            return false;
        }

        // Check if each selected file is a PDF
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            if (file.type !== "application/pdf") {
                return false;
            }
        }

        return true;
    }
</script>
 *@