@{
    ViewData["Title"] = "Accounts Management";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Accounts</h1>

    <a href="/Identity/Account/Register?returnUrl=%2F">
        <button type="button" class="btn btn-success py-2">Create account</button>
    </a>
</div>

<br />

<div class="input-group mb-3">
    <input type="text" class="form-control" id="searchBar" placeholder="Search by Email">
    <button class="btn btn-outline-secondary" id="searchButton">Search</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Image</th>
            <th>Faculty</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="table">
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Get all accounts data from database on page starts
            loadData();

            // Update data when search input is changed
            $('#searchBar').on("input", function () {
                loadData();
            });

            // Update data when search button is clicked
            $("#searchButton").on("click", function () {
                loadData();
            });

            // Fetch data from database
            function loadData() {
                var email = $('#searchBar').val();
                $.ajax({
                    url: '@Url.Action("SearchAcount", "Admins")',
                    type: 'GET',
                    data: { email: email },
                    success: function (data) {
                        populateTale(data, email);
                    },
                    error: function () {
                        $('#table').empty();
                        $('#table').append('<tr><td colspan="7" class="text-center text-danger">Error searching accounts. Please try again later.</td></tr>');
                    }
                });
            }

            // Populate table with data from database
            function populateTale(data, email) {
                $('#table').empty();

                if (data && data.length > 0) {
                    $.each(data, function (index, user) {
                        var imageSrc = user.user.image ? "/imageUser/" + user.user.image : "/imageUser/ImageDefaultUser.png";
                        var updateUrl = `/Admins/Update/${user.user.id}`;
                        var deleteUrl = `/Admins/Delete/${user.user.id}`;
                        var row =
                            `<tr>
                                <td>${user.user.email}</td>
                                <td>${user.user.firstName}</td>
                                <td>${user.user.lastName}</td>
                                <td><img src="${imageSrc}" width="100" height="100" alt="User Image"></td>
                                <td>${user.facultyName}</td>
                                <td>${user.roleName}</td>
                                <td>
                                    <a href="${updateUrl}" class="text-decoration-none">
                                        <button type="button" class="btn btn-primary py-2">Update</button>
                                    </a>
                                    <form id="deleteForm" action="/Admins/Delete" method="post">
                                        <input type="hidden" id="id" name="id" value="${user.user.id}">
                                        <button type="submit" class="btn btn-danger py-2" onclick="return confirm('Are you sure you want to delete ${user.user.email} account?')">Delete</button>
                                    </form>
                                </td>
                            </tr>`;
                        $('#table').append(row);
                    });
                } else {
                    $('#table').append(`<tr><td colspan="7" class="text-center">No data found for ${email}.</td></tr>`);
                }
            }
        })
    </script>
}
